.menu-container {
    list-style-type: none;

    li {
        padding: 25px;
        font-size: 25px;
        justify-content: center;
        cursor: pointer;

        &:hover {
            border-right: 10px solid white;
        }
    }

    .active {
        border-right: 10px solid white;
    }

}